
@import url(2_1-ContentSlider.css);
@import url(2_3-BiblioTittle.css);
@import url(2_2-ContentMangas.css);

.content{

    grid-area: content;
    overflow-x: hidden;

}

.Biblio {
    margin: 0 auto;
    position: relative;
}