
.slider-content {

    width: 100%;

    display: flex;
    
    flex-direction: column;

    overflow: hidden;

}


.overflow-slider{

    height: 400px;

    width: 100%;

    display: flex;

    align-items: center;

    flex-direction: row; 
    
    transition: transform 0.5s ease;
    
}


.slider-item {

    flex: 0 0 100%; /* Cada item ocupa el 100% del ancho del contenedor */

    height: 100%;

    text-align: center;

    overflow: hidden;
    

}


.contenido-slider-item {
    
    width: 100%;

    height: 100%;

    position: relative;

    max-width: 1000px;


}

.contenido-slider-item:hover {

    transition: 0.3s;
    z-index: 1;
}


/* ELEMENTOS GENERALES DE SLIDERS-------------------------- */


.background-png {

    height: 370px;

    position: absolute;

    right: 0;

    bottom: 0;

    z-index: 100;
}

.background-png img {

    height: 100%;
}

.contenido-slider-item:hover .background-png img {

    scale: 1.07;
    transition: 0.3s;
}

.sliderInfo {

    
    width: 100%;

    max-width: 400px;

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 10px;

    /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.818) 30%, rgba(0, 0, 0, 0) 100%); */

}

.logo--manga {

    width:100%;

    z-index: 100;

}

.logo--manga img {
    width: 100%;
    height: auto;
}

.contenido-slider-item:hover .logo--manga img {

    scale: 1.1;
    transition: 0.5s;
}

.demografia-manga{
    margin: 0 auto;
    z-index: 100;

}

.demografia{


    padding: 3px 10px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;

}

.demografia:hover {

    scale: 1.12;
    transition: 0.3s;
    
}

.shonen {

    background-color: rgb(255, 59, 59);
}

.shojo {

    background-color: rgb(255, 123, 167);
}



/* SLIDERS------------------------------------------ */

/* #1 SAILOR MOON */

.slider-item:nth-child(1) {

    background-image: url("../assets/img/carrousel-items/sailorMoon/tokio.png");
    background-size: cover;
}

.slider-item:nth-child(1) .Luna_back{

    border-radius: 50%;
    width: 460px;
    height: 460px;
    position: absolute;
    right: 0;
    top: 20px;
    background: white;

    background-image: url("../assets/img/carrousel-items/sailorMoon/luna.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 2;

}

/* #2 DRAGON BALL */

.slider-item:nth-child(2) {

    background-image: url("../assets/img/carrousel-items/dragonBall/fondo.png");
    background-size: cover;
}

.slider-item:nth-child(2) .background-png {

    height: 420px;
    right: 100px;
}

.slider-item:nth-child(2) .contenido-slider-item:hover .background-png {

    scale: 1.1;
    transition: 0.5s;
}


/* #3 JOJO STONE OCEAN */

.slider-item:nth-child(3) {
    
    background: linear-gradient(90deg, rgba(0,130,197,1) 50%, rgba(1,142,213,1) 51%);
}

.slider-item:nth-child(3) .contenido-slider-item {

    background-image: url(../assets/img/carrousel-items/stoneOcean/itemStoneOcean.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}


/* #4 ONE PIECE */

.slider-item:nth-child(4) {

    background-image: url("../assets/img/carrousel-items/onePiece/fondo.jpg");
    background-size: cover;
}

.slider-item:nth-child(4) .background-png {

    height: 420px;
    right: 100px;
}

.slider-item:nth-child(4) .contenido-slider-item:hover .background-png {

    scale: 1.1;
    transition: 0.5s;
}

/* #5 BOKU NO HERO */

.slider-item:nth-child(5) {

    background-image: url("../assets/img/carrousel-items/bokuNoHero/fondo.png");
    background-size: cover;
}

.slider-item:nth-child(5) .background-png {

    height: 400px;
    right: 150px;
}

/* --------------------------------------------------------------------------------------------- */








/* PUNTOS-------------------------------- */

.slider-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px; /* Espacio entre dots */
    z-index: 200; /* Para que estén sobre el degradado */
    padding: 10px;

    width: 100%;

    background-color: var(--main_color);
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    opacity: 0.5;
}

/* Dot activo */
.dot.active {
    opacity: 1;
    background-color: var(--second_color);
    border: var(--fourth_color) solid 2px;
    transform: scale(1.2);
}

.dot:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


/*----------------------------------------------*/
.capiLeyendo a {
    position: absolute;
    height: 150px;
    z-index: 100;

    bottom: -20px;
    right: -30px;

    filter: drop-shadow(3px 3px var(--second_color));
}

.capiLeyendo img{

    display: inline-block;
    height: 100%;
}

.capiLeyendo img:hover {

    scale: 1.1;
    transition: 0.3s;
}
