
.slider-content {

    width: 100%;

    display: flex;
    
    flex-direction: column;

    overflow: hidden;

    border-radius: 20px 0 0 20px;

    margin: 15px 0 15px 0;

    margin-left: 30px;

    position: relative;

}


.overflow-slider{

    height: 400px;

    width: 100%;

    display: flex;

    align-items: center;

    flex-direction: row; 
    
    transition: transform 0.5s ease;

    justify-content: center;  /* Centrar los items */
    position: relative; /* Necesario para apilar los slider-item */
    overflow: hidden;
}


.slider-item {

    flex: 0 0 100%; /* Cada item ocupa el 100% del ancho del contenedor */

    height: 100%;

    text-align: center;

    overflow: hidden;

    position: absolute; /* Apilar los items de forma absoluta */

    width: 100%;  /* Asegurarse que cada imagen ocupa todo el espacio */
    
    /* para el desvanecimiento de cada slider item */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slider-item.active {
    opacity: 1; /* para el desvanecimiento de cada slider item */
    z-index: 1;  /* El slider activo estará encima */
}

.contenido-slider-item {
    
    width: 100%;

    height: 100%;

    position: relative;

    max-width: 1000px;

    min-width: 200px;

}


/* ELEMENTOS GENERALES DE SLIDERS-------------------------- */


.background-png {

    height: 370px;

    width: auto;

    position: absolute;

    right: 0;

    bottom: 0;

    z-index: 100;

    
}

.background-png img {

    height: 100%;
    transition: ease 0.3s;

}

.contenido-slider-item:hover .background-png img {

    scale: 1.07;
}

.sliderInfo {

    
    width: 70%;

    max-width: 400px;

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 10px;

    margin-left: 35px;

    /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.818) 30%, rgba(0, 0, 0, 0) 100%); */

}

.logo--manga {

    width:100%;
    z-index: 100;

}

.logo--manga img {
    width: 100%;
    height: auto;
    transition: ease 0.5s;
}

.contenido-slider-item:hover .logo--manga img {

    scale: 1.1;
}

.demografia-manga{
    margin: 0 auto;
    z-index: 100;

}

.demografia{


    padding: 3px 10px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;

    transition: ease 0.3s;

}

.contenido-slider-item:hover .demografia {

    scale: 1.1;
}



/* SLIDERS------------------------------------------ */

/* #1 SAILOR MOON */

.slider-item:nth-child(1) {

    background-image: url("../assets/img/carrousel-items/sailorMoon/tokio.png");
    background-size: cover;
}

.slider-item:nth-child(1) .Luna_back{

    border-radius: 50%;
    width: 460px;
    height: 460px;
    position: absolute;
    right: 0;
    top: 20px;
    background: white;

    background-image: url("../assets/img/carrousel-items/sailorMoon/luna.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 2;

}

/* #2 DRAGON BALL */

.slider-item:nth-child(2) {

    background-image: url("../assets/img/carrousel-items/dragonBall/fondo.png");
    background-size: cover;
}

.slider-item:nth-child(2) .background-png {

    height: 420px;
    top: 22px;
    transition: ease 0.5s;
}

.slider-item:nth-child(2) .contenido-slider-item:hover .background-png {

    scale: 1.1;
}

.slider-item:nth-child(2) .background-png-2 {

    height: 400px;
    position: absolute;
    right: 220px;
    top: 150px;
    
    transition: ease 0.3s;
}

.slider-item:nth-child(2) .contenido-slider-item:hover .background-png-2 {

    scale: 1.05;
}

.slider-item:nth-child(2) .background-png-2 img {

    height: 100%;

}

/* #3 JOJO STONE OCEAN */

.slider-item:nth-child(3) {
    
    background: linear-gradient(90deg, rgba(0,130,197,1) 50%, rgba(1,142,213,1) 51%);
}

.slider-item:nth-child(3) .contenido-slider-item {

    background-image: url(../assets/img/carrousel-items/stoneOcean/itemStoneOcean.png);
    background-size: cover;
    background-position: bottom;
}


/* #4 ONE PIECE */

.slider-item:nth-child(4) {

    background-image: url("../assets/img/carrousel-items/onePiece/fondo.jpg");
    background-size: cover;
    background-position: center;
}

.slider-item:nth-child(4) .background-png {

    height: 500px;
    /* right: 50px; */
    top: 0;

    transition: ease 0.5s;
}

/* #5 BOKU NO HERO */

.slider-item:nth-child(5) {

    background-image: url("../assets/img/carrousel-items/bokuNoHero/fondo.png");
    background-size: cover;
    background-position: center;
}

.slider-item:nth-child(5) .background-png {

    height: 400px;
    right: 150px;
}

.slider-item:nth-child(5) .logo--manga {

    padding: 20px;
}

/* #6 WITCH HAT ATELIER */

.slider-item:nth-child(6) {

    background-image: url("../assets/img/carrousel-items/WhitchHat/whcoverResponsive.png");
    background-size: cover;
    background-position: right;
}

/* --------------------------------------------------------------------------------------------- */


/* PUNTOS-------------------------------- */

.slider-indicators {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px; /* Espacio entre dots */
    z-index: 200; /* Para que estén sobre el degradado */
    padding: 10px;

    /* width: 100%; */

    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 10px;

    background-color: rgba(255, 255, 255, 0.618);
    border-radius: 100px;

    /* background-color: var(--main_color); */
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    opacity: 1;
}

/* Dot activo */
.dot.active {
    opacity: 1;
    background-color: var(--second_color);
    border: var(--fourth_color) solid 2px;
    transform: scale(1.2);
}

.dot:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


@media (max-width:1000px) {

    .sliderInfo {

        width: 40%;
    }

    .slider-indicators {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
    
        /* width: 100%; */

        left: 50%;
        transform: translateX(-50%);
        top: auto;  /* Esto es clave para evitar conflictos con `top: 50%` del estado normal */
        bottom: 10px;
        
        background-color: rgba(255, 255, 255, 0.618);
        border-radius: 100px;
    
        /* background-color: var(--main_color); */
    }

}

@media (max-width: 722px) {

    .background-png{

        left: 0;
        right: 0;
        bottom: 0;
    }

    .logo--manga img {
        
        filter: drop-shadow(0 0 10px var(--fourth_color));
    }

    .slider-content {
    
        display: flex;
        
        flex-direction: column;
    
        border-radius: 0;
    
        margin-left: 0;

        margin: 0;
    
    }

    .slider-indicators {
    
        /* width: 100%; */
    
        flex-direction: column;

        transform: translateX(0);
        transform: translateY(50%);
        bottom: 50%;
        left: 10px;
        
        background-color: rgba(255, 255, 255, 0.618);
        border-radius: 100px;
    
        /* background-color: var(--main_color); */
    }

    .sliderInfo {

    
        width: 200px;
    
        height: auto;
    
        justify-content: center;
    
        gap: 10px;
    
        margin-left: 0;

        position: absolute;

        bottom: 10px;

        left: 50%;
        transform: translateX(-50%);

        z-index: 100;
    
        /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.818) 30%, rgba(0, 0, 0, 0) 100%); */
    
    }

    /* #1 SAILOR MOON */

    .slider-item:nth-child(1) {

        background-image: url("../assets/img/carrousel-items/sailorMoon/tokio.png");
        background-size: cover;
    }

    .slider-item:nth-child(1) .Luna_back{

        top: 50px; /* Pegado al borde inferior */
        left: 50%; /* Centrado horizontalmente con respecto al contenedor */
        transform: translateX(-50%);
        height: 350px;
        width: 350px;
        background: white;

        background-image: url("../assets/img/carrousel-items/sailorMoon/luna.png");
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;

        z-index: 2;

    }

    /* #2 DRAGON BALL */

    .slider-item:nth-child(2) {

        background-image: url("../assets/img/carrousel-items/dragonBall/fondo.png");
        background-size: cover;
    }

    .slider-item:nth-child(2) .background-png {

        height: 420px;
        top: 0;
        transition: ease 0.5s;
    }

    .slider-item:nth-child(2) .contenido-slider-item:hover .background-png {    

        scale: 1.1;
    }

    .slider-item:nth-child(2) .background-png-2 {    

        display: none;
    }

    /* #3 JOJO STONE OCEAN */

    .slider-item:nth-child(3) {    
    
        background: linear-gradient(90deg, rgba(0,130,197,1) 50%, rgba(1,142,213,1) 51%);
    }

    .slider-item:nth-child(3) .contenido-slider-item {

        background-image: url(../assets/img/carrousel-items/stoneOcean/itemStoneOceanResponsive.png);
        background-size: cover;
        background-position: top;
    }


    /* #4 ONE PIECE */

    .slider-item:nth-child(4) {

        background-image: url("../assets/img/carrousel-items/onePiece/fondo.jpg");
        background-size: cover;
        background-position: center;
    }

    .slider-item:nth-child(4) .background-png {

        height: 500px;
        /* right: 50px; */
        top: 0;

        transition: ease 0.5s;
    }

    /* #5 BOKU NO HERO */

    .slider-item:nth-child(5) .background-png {

        height: 400px;
        right: 0;
    }

    .slider-item:nth-child(5) .logo--manga {

        padding: 20px;
    }

    /* #6 WITCH HAT ATELIER */

    .slider-item:nth-child(6) {    

        background-image: url("../assets/img/carrousel-items/WhitchHat/whcover.jpg");
        background-size: cover;
        background-position: center top;
    }
}

