<link rel="stylesheet" href="../../css/style.css">

<div class="body_content">
  
  <a href="/" class="logo_link">
    <div class="logo_content--img">
      <img src="/src/assets/img/page_elements/logo/logo.png" alt="Logo Capi Manga">
    </div>
    <span>
      Volver al inicio
    </span>
  </a>

  <div class="globoTexto_cont_login">

    <div class="formContLogin">
  
      <h1>Iniciar sesión</h1>
      
      <form id="formLogin">
    
        <label>Correo
          <input type="text" name="correo" id="correo" required minlength="4" maxlength="100">
        </label>
    
        <label>Contraseña
    
          <div class="password_cont_login">
            <input type="password" name="contrasena" id="contrasena" required minlength="6" maxlength="255">
            <label for="password" class="visualizar_contrasena">
              <i class="ri-eye-fill visualizar"></i>
              <i class="ri-eye-close-fill no_visualizar"></i>
              <input type="checkbox" id="password" class="check_contrasena" >
            </label>
    
          </div>
          
        </label>
    
        <button type="submit" class="btnLogin" >Iniciar sesión</button>
        
      </form>
  
      <div class="form_links">
  
        <p>¿No tienes una cuenta? <a href="/#register">Registrarse</a></p>
  
      <p><a href="/#">Volver al inicio</a></p>
      
      </div>
  
    </div>

    <div class="globoTexto_rabillo_login">

      <img src="/src/assets/img/page_elements/log_elements/rabillo_B.png" alt="">

    </div>

    
  </div>
  
  <div class="degradado_derecho_log"></div>


</div>