.body_MiHistoria,
.body_Historia {

    display: grid;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    padding: 20px;

    grid-template-columns: 60% 1fr;
    grid-template-rows: 500px 1fr;

    grid-template-areas: 
        "miHistoria_infoCont miHistoria_argumento_elements"
        "miHistoria_capitulos miHistoria_argumento_elements"
    ;

    gap: 20px;
}

.body_MiHistoria .miHistoria_infoCont,
.body_Historia .historia_infoCont {

    grid-area: miHistoria_infoCont;

    background-color: var(--second_color);
    border-radius: 30px;
    /* margin: 20px; */
    /* margin-right: 20px; */
    padding: 20px 40px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/img/page_elements/zoom-comic-r.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.miHistoria_infoCont .miHistoria_cover,
.historia_infoCont .historia_cover {

    aspect-ratio: 1/1.5;
    height: 100%;
    /* max-width: 460px; */
    background-color: var(--third_color);
    border-radius: 20px;
    overflow: hidden;
}

.miHistoria_infoCont .miHistoria_cover img,
.historia_infoCont .historia_cover img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.miHistoria_infoCont .miHistoria_info, 
.historia_infoCont .historia_info{

    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.miHistoria_info .miHistoria_logoTitulo,
.historia_info .historia_logoTitulo {

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.miHistoria_info .miHistoria_logo,
.historia_info .historia_logo {

    width: 400px;
    height: 150px;
    overflow: hidden;
}

.miHistoria_info .miHistoria_titulo,
.historia_info .historia_titulo {

    padding-left: 10px;
    padding-bottom: 10px;
}

.miHistoria_info .miHistoria_logo img,
.historia_info .historia_logo img {

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.miHistoria_info .miHistoria_generos,
.historia_info .historia_generos  {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.miHistoria_info .miHistoria_generos .genero,
.miHistoria_info .miHistoria_generos .subgenero,
.historia_info .historia_generos .genero,
.historia_info .historia_generos .subgenero {

    /* background-color: var(--third_color); */
    padding: 5px 20px;
    border-radius: 20px;
}

.miHistoria_info .miHistoria_generos .subgenero,
.historia_info .historia_generos .subgenero {

    background-color: var(--third_color);
}

.miHistoria_info .miHistoria_generos p,
.historia_info .historia_generos p {

    text-wrap: nowrap;
}

.miHistoria_info .miHistoria_autor_foto,
.historia_info .historia_autor_foto {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--third_color);
}

.miHistoria_info .autor_link_miHistoria,
.historia_info .autor_link_historia {

    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    /* width: 100%; */
    width: fit-content;
    gap: 10px;
    text-decoration: none;
}

.miHistoria_info .autor_link_miHistoria p,
.historia_info .autor_link_historia p {

    color: var(--third_color);
}

.miHistoria_info .miHistoria_autor_foto img,
.historia_info .historia_autor_foto img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autor_link_miHistoria .miHistoria_autor_nombres,
.autor_link_historia .historia_autor_nombres {

    display: flex;
    flex-direction: column;
}

.miHistoria_autor_nombres .autor_MiHistoria,
.historia_autor_nombres .autor_historia {

    font-weight: bold;
    color: var(--main_color);
}

.miHistoria_info .miHistoria_tipoVerificado,
.historia_info .historia_tipoVerificado {

    /* height: 150px; */
    overflow: hidden;
    display: flex;
    gap: 20px;
    align-items: center;
}

.miHistoria_tipoVerificado .miHistoria_tipoYFormato,
.historia_tipoVerificado .historia_tipoYFormato {

    background-color: var(--main_color);
    text-wrap: nowrap;
    height: fit-content;
    padding: 0 20px;
    border-radius: 20px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.miHistoria_tipoVerificado .miHistoria_estadoVerificacion,
.historia_tipoVerificado .historia_estadoVerificacion {

    background-color: var(--capiBoard_color);
    font-weight: bold;
    height: 40px;
    padding: 7px 20px;
    border-radius: 20px;
    color: var(--second_color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.miHistoria_tipoVerificado .miHistoria_estadoVerificacion img,
.historia_tipoVerificado .historia_estadoVerificacion img {

    height: 100%;
}

.body_MiHistoria .miHistoria_capitulos,
.body_historia .historia_capitulos {

    grid-area: miHistoria_capitulos;

}

.body_MiHistoria .miHistoria_argumento_elements,
.body_Historia .historia_argumento_elements{

    grid-area: miHistoria_argumento_elements;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    /* max-width: 600px; */
    height: 100%;
    padding: 20px;
    /* margin: 20px; */
    background-color: var(--second_color);
    border-radius: 30px;

    color: var(--third_color);
}

.miHistoria_argumento_elements .miHistoria_argumento,
.historia_argumento_elements .historia_argumento {

    padding: 20px;
    height: 400px;
    width: 100%;
    background-color: var(--third_color);
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
    color: var(--second_color);

    text-wrap: wrap;
}