header {

    grid-area: header;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

/* Quitar el scrollbar de todos los navegadores */
header {
    /* ...existing code... */
    scrollbar-width: none;        /* Firefox */
}

/* Chrome, Edge, Safari */
header::-webkit-scrollbar {
    display: none;
}

header .header-content {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    position: sticky;

    overflow-y: auto;

    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 10px;
    /* flex: 1 1; */

}

header .header-content .menuHeader {

    display: flex;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    width: 100%;
    flex: 1;
    gap: 25px;
    align-items: center;
    color: var(--second_color);
}

/* LOGO ------------------------------------------> */

.logo-link {

    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 0; */
}

.logo-img {

    height: 100%;
    width: 100%;
    object-fit: contain;
}

header .menu-icons {

    width: 20px;
}


/* 
==========================================
¿QUÉ ES flex-shrink?
==========================================

flex-shrink es una propiedad de Flexbox que controla 
cuánto puede reducirse (encogerse) un elemento flexible 
cuando el espacio en el contenedor es insuficiente.

- Valor por defecto: 1 (el elemento puede encogerse)
- Si usas flex-shrink: 0; el elemento NO se encogerá
- Si usas flex-shrink: 2; el elemento se encogerá el doble de rápido que uno con flex-shrink: 1
*/

/* PERFIL ICON */

header .perfilCont {

    width: 100%;
    background-color: var(--second_color);
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 0 100px 100px 0;

}

header .perfil-label {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .icono-perfil-cont {

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--main_color);
}

.icono-perfil {

    width: 100%;
}

header .perfil-menu--icon {

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

header .item_perfil--icon:nth-child(1) {

    display: inline-block;
}

header:has(.perfil-checkbox:checked) .item_perfil--icon:nth-child(1) {

    display: none;
}

header .item_perfil--icon:nth-child(2) {

    display: none;
}

header:has(.perfil-checkbox:checked) .item_perfil--icon:nth-child(2) {

    display: inline-block;
}

header input[type="checkbox"] {
    display: none;
}

header label{

    cursor: pointer;
}

header label {
    display: inline-block;
}

/* OPCIONES DE LOG */

.log-options {

    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 90%;
    top: 240px;
    left: -100%;
    background-color: var(--second_color);
    border-radius: 0 10px 10px 0;

    transition: ease 0.3s;
}

.log-options a {

    color: var(--third_color);
    transition: 0.3s ease;
    padding-left: 5px;
}

.log-options a:hover {

    color: var(--main_color);
    font-weight: bold;
}

.chigui-cont {

    height: 250px;
    width: 100%;
    background-color: var(--main_color);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.chigui-cont img {

    width: 100%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    animation: chigui-animation 1s infinite;
}

@keyframes chigui-animation {
    0% { 
        /* transform: scale(1);  */
        bottom: 0;
    }

    50% { 
        /* transform: scale(1.05); */
        bottom: -5px;
    }

    100% {
        /* transform: scale(1);  */
        bottom: 0;
    }
}

header:has(.perfil-checkbox:checked) .log-options {

    left: 0;
}

/* MENU --------------------------------------------------> */

.menu-item {

    display: flex;

    width: 100%;
    align-items: center;

    gap: 10px;
    color: var(--second_color);
}

.menu-item i {

    font-size: 20px;
}

.menu-item a {

    color: var(--second_color);
}

.home-option {

    display: none;
}

/* MENU PERFIL------------------------- */

header .perfil_menu_log {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    align-items: center;
    background-color: var(--second_color);
    position: absolute;
    z-index: 5;
    top: 230px;
    padding: 20px 10px;

    left: -120%;

    border-radius: 0 20px 20px 0;

    transition: ease 0.3s;
}

header .perfil_menu_log a {

    color: var(--third_color);
    transition: 0.3s ease;
}

header .perfil_menu_log .menu-item {

    display: flex;
    align-items: center;
}

header .menuHeader button {

    background: transparent;
    border: none;
    /* align-items: center; */
}

header .perfil_menu_log .menu-item:hover {

    font-weight: bold;
    color: var(--main_color);
}

header .perfil_menu_log .cerrar-sesion-option {

    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--main_color);
    border-radius: 20px;
    border: none;
    cursor: pointer;

    transition: ease 0.3s;
}

header .perfil_menu_log .cerrar-sesion-option:hover {

    scale: 1.04;
    color: var(--second_color);
    font-weight: normal;
}

header:has(.perfil-checkbox:checked) .perfil_menu_log {

    left: 0;
}

.contenedor-buscador {

    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    left: 200px;
    background-color: var(--second_color);
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    z-index: 1000;
    box-shadow: 5px 5px 0 var(--main_color);

    animation: buscadorFade 0.3s ease-in-out forwards;
}

@keyframes buscadorFade {
    from { 
        opacity: 0; 
        transform: scale(0.8); 
    }
    to { 
        opacity: 1; 
        transform: scale(1); 
    }
}


@media (max-width: 650px){

}

@media (max-width: 800px) {

    header {

        position: fixed;
        z-index: 1000;    
        padding-top: 0;
        padding-bottom: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        min-width: 320px;
        background-color: var(--third_color);
        border-radius: 50px 50px 0 0;
        box-shadow: 0 -10px var(--main_color);
    }

    header .header-content {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
    }

    header .header-content .menuHeader {

        flex-direction: row;
        gap: 15px;
        padding-right: 10px;
        padding-left: 10px;
        width: auto;
    }

    header .perfil-label {

        justify-content:left;
        padding-right: auto;
        /* flex-direction: column; */
        gap: 5px;
    }

    .logo-link {

        display: none;
    }

    .menu-item {

        flex-direction: column;
        font-size:  14px; ;
    }

    .home-option {

        display: flex;
    }

    .home-option .home-icon {

        width: 60px;
    }

    header .perfilCont {

        width: 80px;
        padding-left: 0;
        padding: 10px 10px;
        position: fixed;
        top: 20px;
    }

    header .icono-perfil-cont {

        width: 35px;
        height: 35px;
    }

    .perfilCont span {

        font-size: 14px;
        display: none;
    }

    .menu-item:nth-child(6),
    .menu-item:nth-child(7),
    .menu-item:nth-child(8) {

        display: none;
    }

    .log-options {

        position: fixed;
        width: 200px;
        top: 85px;
    }

    header .perfil_menu_log {

        position: fixed;
        width: 200px;
        top: 85px;
        gap: 15px;
        left: -100%;
        padding: 20px;
    }

    header .perfil_menu_log .menu-item {
        
        display: flex;
        align-items: center;
        gap: 2px;
    }

}

@media (max-width: 420px) {

    .menu-item span {

        font-size: 10px;
    }
}