<div class="body_Capitulo">

    
    <div class="header_Capitulo">
        
        <div class="info_Capitulo">
            
            <div class="datos_Capitulo">

                <div class="titulosArgumento_Capitulo">
                    
                    <div class="icono_Capitulo">
                        <!-- <img src="ruta/a/la/imagen.jpg" alt="Imagen del capítulo"> -->
                    </div>
                    
                    <a href="" class="volver_menu_Historia">
                        
                    </a>
                    
                    <h1 class="titulo_Capitulo"></h1>
                    <p class="argumento_Capitulo"></p>
                </div>
            </div>

            <div class="boton_MeGusta_Cont">

            </div>
        </div>
        
    
        <div class="lista_Capitulos">
            <button class="prev_Capitulo">

            </button>

            <select name="lista_Capitulos" id="lista_Capitulos">
            </select>

            <button class="next_Capitulo">

            </button>
        </div>
        
    </div>

    <div class="contenido_Capitulo">

    </div>

    <div class="comentarios_Capitulo">

        
    </div>
</div>