<div class="body_Capitulo">

    
    <div class="header_Capitulo">
        <h1>Título del Capítulo</h1>
        <p>Argumentodel capítulo...</p>
        <div class="icono_Capitulo">
            <!-- <img src="ruta/a/la/imagen.jpg" alt="Imagen del capítulo"> -->
        </div>
    
        <div class="lista_Capitulos">
            <select name="lista_Capitulos" id="lista_Capitulos">
            </select>
        </div>
        
    </div>

    <div class="contenido_Capitulo">

    </div>

    <div class="comentarios_Capitulo">

        
    </div>
</div>