<div class="body_MiHistoria">

    <div class="miHistoria_infoCont">

        <div class="miHistoria_cover">

        </div>

        <div class="miHistoria_info">

            <div class="miHistoria_tipoVerificado">
                
            </div>

            <div class="miHistoria_logoTitulo">

            </div>

            <div class="miHistoria_generos">
                
            </div>

            <div class="miHistoria_autor">

            </div>

        </div>

    </div>
        
    <div class="miHistoria_capitulos">
            
    </div>

    <div class="miHistoria_argumento_elements">

        <div class="miHistoria_elements">

            <div class="miHistoria_calificacion miElements_item">

            </div>

            <div class="miHistoria_guardados miElements_item">

            </div>

            <div class="miHistoria_config miElements_item">

            </div>
        </div>

        <div class="miHistoria_argumento">

        </div>

    </div>

</div>