.body_MiPerfil {

    position: relative;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 320px;
    padding: 20px 40px;
    /* background-color: aliceblue; */

    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 500px 200px 1fr 1fr;

    grid-template-areas: 
        "banner banner"
        "opciones_perfil biografia"
        "opciones_perfil mis_historias"
        "opciones_perfil publicaciones"
    ;

}

.miBannerCont {

    grid-area: banner;
    position: relative;
}

.miBannerCont .miNombreUser {
    position: absolute;
    bottom: 60px;
    left: 420px;
    z-index: 1;
    cursor: default;
}

.miBannerCont .nombre_perfil {

    color: var(--main_color);
    text-wrap: nowrap;
    /* font-size: 2rem; */
}

.miBannerCont .user_Name {

    color: var(--second_color);
    font-size: 1.2rem;
    cursor: default;
}

.miBannerCont .miBanner {

    width: 100%;
    height: 350px;
    border-radius: 50px;
    background-color: var(--second_color);
    overflow: hidden;
}

.miBannerCont .miBanner .imgBanner {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.miBiografiaCont .miNombreUser {

    position: absolute;
    bottom: 20px;
    left: 300px;
}

.miBannerCont .fotoMiPerfil {

    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: absolute;
    bottom: 20px;
    left: 100px;
    background-color: var(--main_color);
    overflow: hidden;
    border: solid 10px var(--third_color);
}

.miBannerCont .fotoMiPerfil .imgPerfil {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.opcionesMiPerfil {

    grid-area: opciones_perfil;;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.opcionesMiPerfil h2 {

    color: var(--main_color);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
    /* dejar normal el cursor */
    cursor: default;
}

.opcionesMiPerfil .menu-item {

    transition: ease 0.3s;
}

.opcionesMiPerfil .menu-item:hover {

    color: var(--main_color);
    font-weight: bold;
}

.miBiografiaCont {

    grid-area: biografia;
    position: relative;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.miBiografiaCont::before {

    content: "";
    position: absolute;
    width: 10px;
    height: 80%;
    left: 15px;
    bottom: 0;
    border-radius: 100px 100px 0 0;
    background: var(--second_color);
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 0;
}

.miBiografiaCont h1 {

    color: var(--main_color);
    cursor: default;
}

.misHistoriasCont {

    grid-area: mis_historias;
    position: relative;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.misHistoriasCont::before {

    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: 15px;
    bottom: 0;
    background: var(--second_color);
    z-index: 0;
}

.misHistoriasCont h1 {

    color: var(--main_color);
    cursor: default;
}

.misPublicacionesCont {

    grid-area: publicaciones;
    position: relative;
}

.misPublicacionesCont::before {

    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: 15px;
    top: 0;
    border-radius: 0 0 100px 100px;
    background: var(--second_color);
    z-index: 0;
}

.misPublicacionesCont h1 {

    color: var(--main_color);
    cursor: default;
}

/* Estilos para pantallas pequeñas */

@media (max-width: 970px) {

    .miBannerCont .miBanner {

        height: 250px;
    }

    .miBannerCont .fotoMiPerfil {

        width: 180px;
        height: 180px;
        left: 50%;
        transform: translateX(-50%);
        bottom: auto;
        top: 180px;
        border: solid 7px var(--third_color);
    }

    .miBannerCont .miNombreUser {

        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .opcionesMiPerfil::before {

        content: "";
        position: absolute;
        width: 90%;
        height: 8px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: var(--second_color);
        border-radius: 100px;
        z-index: 0;
    }

    .miBiografiaCont {

        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .miBiografiaCont::before {

        display: none;
    }

    .misHistoriasCont {
        padding: 10px;
    }

    .misHistoriasCont::before {

        display: none;
    }

    .misPublicacionesCont {
        padding: 10px;
    }

    .misPublicacionesCont::before {

        display: none;
    }

    .body_MiPerfil {

        position: relative;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        min-width: 320px;
        padding: 10px;
        /* background-color: aliceblue; */

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 1fr  200px 1fr 1fr;

        grid-template-areas: 
            "banner"
            "opciones_perfil"
            "biografia"
            "mis_historias"
            "publicaciones"
        ;
    }

    .opcionesMiPerfil {
        
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: 40px;
        padding-top: 40px;
        align-items: first baseline;
        position: relative;
    }

    .opcionesMiPerfil h2 {

        display: none;
    }

    .opcionesMiPerfil .menu-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100px;
    }

    .opcionesMiPerfil .menu-item .menu-icon {

        font-size: 50px;
    }
}

@media (max-width: 480px) {

    .body_MiPerfil {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr 200px 1fr 1fr;

        grid-template-areas: 
            "banner"
            "opciones_perfil"
            "biografia"
            "mis_historias"
            "publicaciones"
        ;

        gap: 10px;
    }

    .miBannerCont .miNombreUser .nombre_perfil{

        font-size: 1.5rem;
    }

    .miBannerCont .miBanner {

        height: 200px;
    }

    .miBannerCont .fotoMiPerfil {

        width: 150px;
        height: 150px;
        top: 130px;
        border: solid 5px var(--third_color);
    }

    .miBannerCont .miNombreUser {

        /* bottom: 60px; */
        font-size: 1.2rem;
    }

    .opcionesMiPerfil .menu-item {

        font-size: 10px;
    }

    .opcionesMiPerfil .menu-item .menu-icon {

        font-size: 30px;
    }
}

/* @media (max-width: 370px) {

    .opcionesMiPerfil {

        gap: 20px;
    }

    .opcionesMiPerfil .menu-item {

        width: 50px;
    }

    .opcionesMiPerfil .menu-item .menu-icon {

        font-size: 20px;
    }
} */