<link rel="stylesheet" href="../../css/style.css">
<script src="utils/carrusel.js"></script>

<div class="carrusel">

    <div class="carrusel_content">

        <div class="diagonal_carrusel-info"></div>

        <div class="carrusel--Img">
                
            <a href="#" class="carrusel--Img_item">
                <img src="/src/assets/img/carrusel_items/1.stone_ocean/imgItem.png" alt="JoJo's Bizarre Adventure: Stone Ocean" class="carrusel-image">
            </a>
        
            <a href="#" class="carrusel--Img_item">
                <img src="/src/assets/img/carrusel_items/2.dragon_ball/imgItem.jpeg" alt="Dragon Ball" class="carrusel-image">
            </a>
        
            <a href="#" class="carrusel--Img_item"> 
                <img src="/src/assets/img/carrusel_items/3.sailor_moon/imgItem.jpg" alt="Sailor moon" class="carrusel-image">
            </a>

        </div>

    </div>



    <button class="button_carrusel arrow_prev">
        <img src="/src/assets/img/page_elements/carrusel_elements/prev.png" alt="prev">
    </button>

    <button class="button_carrusel arrow_next">
        <img src="/src/assets/img/page_elements/carrusel_elements/next.png" alt="next">
    </button>

    <div class="carrusel--info">

        <a href="#" class="carrusel--info_item">

            <img src="/src/assets/img/carrusel_items/1.stone_ocean/silh.png" alt="Jolyne" class="silh--Character_Carrusel">
            
            <div class="carrusel--info_elements">

                <img src="/src/assets/img/carrusel_items/1.stone_ocean/logo.png" alt="StoneOcean--Logo" class="carrusel-logo">

                <div class="genres carrusel-genres">
                
                <p class="carrusel-genre accion">Acción</p>
                <p class="carrusel-subgenre subAventura">Aventura</p>
                            
                </div>
                        
                <div class="carrusel-horario">

                <div class="calendar--icon">

                    <i class="ri-calendar-schedule-line"></i>

                </div>

                <div class="dias-calendarios">

                    <p>Todos los viernes</p>

                </div>
                </div>
            </div>

        </a>

        <a href="#" class="carrusel--info_item">

            <img src="/src/assets/img/carrusel_items/2.dragon_ball/silh.png" alt="Goku" class="silh--Character_Carrusel">
        
            <div class="carrusel--info_elements">

                <img src="/src/assets/img/carrusel_items/2.dragon_ball/logo.png" alt="Dragon Ball Logo" class="carrusel-logo">

                <div class="genres carrusel-genres">
                    <p class="carrusel-genre accion">Acción</p>
                    <p class="carrusel-subgenre subAventura">Aventura</p>
                </div>

                <div class="carrusel-horario">
                    <div class="calendar--icon">
                        <i class="ri-calendar-schedule-line"></i>
                    </div>
                    <div class="dias-calendarios">
                        <p>lunes y jueves</p>
                    </div>
                </div>

            </div>

        </a>

        <a href="#" class="carrusel--info_item">

            <img src="/src/assets/img/carrusel_items/3.sailor_moon/silh.png" alt="Sailor Moon" class="silh--Character_Carrusel">
        
            <div class="carrusel--info_elements">

                <img src="/src/assets/img/carrusel_items/3.sailor_moon/logo.png" alt="Sailor Moon Logo" class="carrusel-logo">

                <div class="genres carrusel-genres">
                    <p class="carrusel-genre chicasMagicas">Chicas Mágicas</p>
                    <p class="carrusel-subgenre subFantasia">Fantasía</p>
                </div>

                <div class="carrusel-horario">
                    <div class="calendar--icon">
                        <i class="ri-calendar-schedule-line"></i>
                    </div>
                    <div class="dias-calendarios">
                        <p>Todos los sábados</p>
                    </div>
                </div>

            </div>
        
        </a>

    </div>


    <div class="carrusel--selector">

        <div class="carrusel--selector_item active">
            <img src="/src/assets/img/carrusel_items/1.stone_ocean/imgItem.png" alt="JoJo's Bizarre Adventure: Stone Ocean">
        </div>
        <div class="carrusel--selector_item">
            <img src="/src/assets/img/carrusel_items/2.dragon_ball/imgItem.jpeg" alt="Dragon Ball">
        </div>
        <div class="carrusel--selector_item">
            <img src="/src/assets/img/carrusel_items/3.sailor_moon/imgItem.jpg" alt="Sailor Moon">
        </div>

    </div>

</div>