<link rel="stylesheet" href="../../css/style.css">

<div class="body_MiPerfil">

    <div class="miBannerCont">
        <div class="miBanner">

        </div>

        <div class="fotoMiPerfil">

        </div>

        <div class="miNombreUser">

            <h1 class="nombre_perfil"></h1>
            <h2 class="user_Name"></h2>

        </div>
    </div>

    <div class="opcionesMiPerfil">

        <h2 class="opcionesPerfil_titulo"> <i class="ri-more-2-fill"></i> Opciones</h2>

    </div>

    <div class="miBiografiaCont">

        <h1 class="biografia_titulo"> 
           <i class="ri-chat-smile-2-fill"></i> Biografía
        </h1>

        <p class="biografia_texto"></p>

    </div>

    <div class="misHistoriasCont">

        <h1 class="misHistorias_titulo">
            <i class="ri-book-open-fill"></i> Mis historias
        </h1>
        <div class="misHistorias">

        </div>

    </div>

    <div class="misPublicacionesCont">

    </div>

</div>