@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

:root {

    --main_color: #F04C0E;
    --main_color_transparent: rgba(240, 74, 14, 0.39);
    --second_color: #ffffff;
    --third_color: #0D0D0D;
    --fourth_color: #ff6a00;
    --capiBoard_color: #00ac4a;
    --original_color: #ffa200;
}

body {

    background-color: var(--third_color);
    /* min-height: 100vh; */

    min-width: 320px;
    max-width: 2600px;

    min-height: 100vh;

    margin: 0 auto;


    /* GRID --------- */

    display: grid;

    grid-template-columns: 170px 1fr;
    grid-template-rows: 1fr 300px;

    grid-template-areas: 
    'header app'
    'footer footer';
    
    position: relative;
}

#app {
    
    grid-area: app;
    width: 100%;
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
}

input:focus {
    outline: none;
}

a, p {
    display: inline-block;
    text-decoration: none;
    color: var(--second_color);
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

*::selection {

    background-color: var(--main_color);
    color: var(--fourth_color);
}

input:focus {

    outline: none;
}

li{
    list-style: none;
}


/* Colores para generos y subgeneros ----------------------------------------> */
.Accion {

    background-color: rgb(255, 59, 59);
}

.Chicas_magicas {

    background-color: rgb(255, 123, 167);
}

.Fantasia {

    background-color: rgb(0, 74, 117);
}

.Aventura {
    background-color: rgb(34, 139, 34); /* Verde bosque */
}

.Superheroes {
    background-color: rgb(255, 45, 85); /* Rojo brillante */
}

.Deportes {

    background-color: rgb(255, 140, 0);
}

.SliceOfLife {

    background-color: rgb(209, 59, 109);
}

.Horror {

    background-color: rgb(119, 0, 0);
}

.Misterio {

    background-color: rgb(231, 231, 231);
}

/* ------------------------------------------------------------------------ */

.subAccion {

    /* border: solid 3px rgb(255, 59, 59); */
    color: rgb(255, 59, 59);
}

.subChicasmagicas {

    /* border: solid 3px rgb(255, 123, 167); */
    color: rgb(255, 123, 167);
}

.subFantasia {

    /* border: solid 3px rgb(0, 74, 117); */
    color: rgb(2, 99, 155);
}

.subAventura {

    /* border: solid 3px rgb(34, 139, 34); */
    color: rgb(34, 139, 34);
}

.subSuperheroes {

    /* border: solid 3px rgb(255, 45, 85); */
    color: rgb(255, 45, 85);
}

.subDeportes {

    /* border: solid 3px rgb(0, 74, 117); */
    color: rgb(255, 140, 0);
}

.subSliceOfLife {

    /* border: solid 3px rgb(255, 123, 167); */
    color: rgb(209, 59, 109);
}

.subHorror {

    /* border: solid 3px rgb(55, 0, 0); */
    color: rgb(119, 0, 0);
}

.subMisterio {

    /* border: solid 3px rgb(231, 231, 231); */
    color: rgb(231, 231, 231);
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 300px;
    grid-template-areas:
      'app'
      'footer';
  }
}

/* @media (min-width: 2200px){

    body{
        overflow-x: hidden;
    }
} */