@import url(biblio_tittle.css);

.content {

    grid-area: content;
    height: 200px;
    background-color: var(--fourth_color);
    min-height: 100vh;
    overflow: hidden;
}

@media screen and (min-width: 2300px) {
    .content {
        width: 70%; /* Ajusta el tamaño según necesites */

        margin: 0 auto; /* Centra la imagen si es necesario */
    }
}

@media screen and (min-width: 3500px) {
    .content {
        width: 45%; /* Ajusta el tamaño según necesites */
        margin: 0 auto; /* Centra la imagen si es necesario */
    }
}