.carrusel {

    /* height: 100vh; */
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--third_color);
    overflow: hidden;
    position: relative;
    /* border-radius: 0 0 40px 40px; */
    color: var(--second_color);
}


.carrusel_selector--icon {

    /* display: none; */
    position: absolute;
    z-index: 10;
    display: flex;
    width: 90px;
    flex-direction: column;
    gap: 10px;
    left: 40px;
    top: 10px;
}

.carrusel--selector_item {

    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 20px;
}

.carrusel--selector_item.active {

    /* width: 150px;
    height: 150px; */
    /* border: 2px solid var(--main_color); */
    animation: scaleSelector 0.5s ease-in-out forwards;
}

@keyframes scaleSelector {

    from {
        width: 90px;
        height: 90px;
        box-shadow: 0 0 0 white;
    }

    to {
        width: 150px;
        height: 150px;
        box-shadow: 0 0 20px white;
    }
}

.carrusel--selector_item:not(.active) {

    animation: descaleSelector 0.5s ease-in-out forwards;
}

@keyframes descaleSelector {

    from {
        width: 150px;
        height: 150px;
        box-shadow: 0 0 20px white;
    }

    to {
        width: 90px;
        height: 90px;
        box-shadow: 0 0 0 white;
    }
}

.carrusel--selector_item img {

    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.carrusel {

    display: flex;
}

.carrusel_content {

    position: relative;
    /* flex: 1; */
    width: 100%;
}

.carrusel--Img_item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(0deg,rgba(13, 13, 13, 1) 0%, rgba(13, 13, 13, 0.53) 50%, rgba(237, 221, 83, 0) 100%);
    z-index: 5;
}

.carrusel--Img_item::after {

    content: "";
    position: absolute;
    width: 180px;
    height: 100%;
    left: 0;
    background-image: url("../../assets/img/page_elements/zoom-comic-l.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.carrusel--Img {

    position: relative;
    height: 100%;
    /* flex: 1; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carrusel--Img_item {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    opacity: 0;
    pointer-events: none;
    z-index: 0;
    transition: opacity 0.5s;
}

.carrusel--Img_item.active {

    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

/* .carrusel--Img_item:first-child {
    z-index: 1;
} */



.carrusel--Img_item img{

    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin deformarla */
    object-position: center;
}

.carrusel--info {

    position: absolute;

    right: 60px;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 280px;
    /* background-color: var(--third_color); */
    z-index: 100;
}

.carrusel--info_item {

    position: absolute;
    height: 100%;
    width: 100%;

    opacity: 0;
    pointer-events: none;
    z-index: 0;
    transition: opacity 0.5s;
}

.carrusel--info_elements {

    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    display: flex;

    flex-direction: column;
    gap: 20px;

    bottom: -100%;
    opacity: 0;
    /* transform: translateY(50%); */
    transition: opacity 0.5s, transform 0.5s;
    z-index: 2;
}

/* .carrusel--info_item:first-child {
    z-index: 1;
} */

.carrusel--info_item.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

.carrusel--info_item.active .carrusel--info_elements {
    opacity: 1;
    bottom: 0;
    /* transform: translateY(-50%); */
}

.carrusel_buttons {

    position: absolute;
    z-index: 15;
    bottom: 180px;
    display: flex;
    gap: 320px;
    
    right: 20px;
}

.button_carrusel{

    width: 30px;
    height: 30px;
    /* position: absolute; */

    /* z-index: 100; */
    background-color: rgba(0, 0, 0, 0);
    border: none;
    /* bottom: 350px; */
    /* transform: translateX(-50%); */

}

.button_carrusel img {

    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.arrow_prev{

    /* left: 250px; */
    transition: ease 0.3s;
}
.arrow_prev:hover {
    scale: 1.2;
}

.arrow_next{

    /* left: 750px; */
    transition: ease 0.3s;
}
.arrow_next:hover {
    scale: 1.2;
}

.carrusel-logo {

    width: 100%;
    height: 160px;
    z-index: 2;
    position: relative;
}

.carrusel-logo img {

    height: 100%;
    width: 100%;
    object-fit: contain;

}

.genres {

    white-space: nowrap;
    font-size: 12px;
}

.carrusel-genres {

    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    gap: 10px;
    /* padding-left: 40px; */
    justify-content: center;
}

.carrusel-subgenre {
 
    background-color: var(--second_color);
}

.carrusel-genre,
.carrusel-subgenre {
 
    padding: 2px 15px;
    border-radius: 20px;
}

.carrusel-horario {

    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    gap: 10px;
    /* padding-left: 40px; */
}

.calendar--icon {

    width: 30px;
    height: 30px;
    background-color: var(--main_color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.silh--Character_Carrusel {

    position: absolute;
    z-index: 1;
    top: 0;
    right: 600px;
    height: 400px;
    /* width: ; */
    object-fit: contain;
    opacity: 0.9;
    display: none;

}

.carrusel--info_item:first-child .silh--Character_Carrusel {

    left: 0;
}



/* Acciones de NEXT */

.carrusel.next .carrusel--info .carrusel--info_item:not(.active) .carrusel--info_elements {
    bottom: 0;
    opacity: 1;

    animation: outInfoNext 1s ease-in-out forwards;
}

@keyframes outInfoNext {
    to {
        bottom: -100%;
        opacity: 0;
    }
}

.carrusel.next .carrusel--info .carrusel--info_item.active .carrusel--info_elements {
    bottom: -100%;
    opacity: 0;

    animation: showInfo 1s ease-in-out forwards;
}

@keyframes showInfo {

    to {

        bottom: 0;
        opacity: 1;
    }
}

.carrusel.next .carrusel--info .carrusel--info_item.active .silh--Character_Carrusel {

    left: 600px;
    opacity: 0;

    animation-delay: opacity 0.5s;
    animation: showSilh 1s ease-in-out forwards;
}

@keyframes showSilh {

    to {

        opacity: 1;
        left: 0;

    }
}

.carrusel.next .carrusel--info .carrusel--info_item:not(.active) .silh--Character_Carrusel {

    left: 0;
    opacity: 1;

    animation-delay: opacity 0.5s;
    animation: outLastSilh 1s ease-in-out forwards;
}

@keyframes outLastSilh {

    to {

        opacity: 0;
        left: 600px;

    }
}

/* PREV*/

.carrusel.prev .carrusel--info .carrusel--info_item:not(.active) .carrusel--info_elements {

    bottom: 0;
    opacity: 1;
    animation: outInfoPrev 1s ease-in-out forwards;
}

@keyframes outInfoPrev {
    to {
        bottom: -100%;
        opacity: 0;
    }
}

/* .carrusel.prev .carrusel--info .carrusel--info_item.active .carrusel--info_elements {

    bottom: -100%;
    opacity: 0;
    animation: showInfoPrev 1s ease-in-out forwards;
}

@keyframes showInfoPrev {

    to {
        bottom: 0;
        opacity: 1;
    }
} */

.carrusel.prev .carrusel--info .carrusel--info_item.active .silh--Character_Carrusel {

    left: 600px;
    opacity: 0;

    animation-delay: opacity 0.5s;
    animation: showSilhPrev 1s ease-in-out forwards;
}

@keyframes showSilhPrev {

    to {

        opacity: 1;
        left: 0;

    }
}

.carrusel.prev .carrusel--info .carrusel--info_item:not(.active) .silh--Character_Carrusel {

    left: 0;
    opacity: 1;

    animation-delay: opacity 0.5s;
    animation: outLastSilhPrev 1s ease-in-out forwards;
}

@keyframes outLastSilhPrev {

    to {

        opacity: 0;
        left: 600px;

    }
}


@media (max-width: 1190px) {
    
    .carrusel {
        height: 600px;
    }

    .carrusel--info {

        width: 240px;
        height: 250px;
        right: 65px;
    }

    .carrusel-logo {

        height: 120px;
    }

    .carrusel_selector--icon{

        width: 70px;
    }

    @keyframes scaleSelector {

        from {
            width: 70px;
            height: 70px;
            box-shadow: 0 0 0 white;
        }

        to {
            width: 100px;
            height: 100px;
            box-shadow: 0 0 20px white;
        }
    }

    @keyframes descaleSelector {

        from {
            width: 100px;
            height: 100px;
            box-shadow: 0 0 20px white;
        }

        to {
            width: 70px;
            height: 70px;
            box-shadow: 0 0 0 white;
        }
    }

    .genres {

        font-size: 10px;
    }

    .carrusel-genre,
    .carrusel-subgenre {
 
        padding: 2px 10px;
    }

    .carrusel-horario {

        height: 20px;
    }

    .carrusel-horario i, 
    .carrusel-horario p {

        font-size: 10px;
    }

    .calendar--icon {

        width: 20px;
        height: 20px;
    }

    .carrusel_buttons {

        gap: 250px;
        right: 30px;
    }
}

@media (max-width: 800px) {
    
    .carrusel_selector--icon{

        top: 90px;
        left: 20px;
    }
}

@media (max-width: 650px) {

    .carrusel {

        height: 620px;
    }

    .carrusel--info {
        
        width: 70%;
        max-width: 300px;
        /* min-width: 200px; */
        height: 250px;
        right: 50%;
        bottom: 40px;
        transform: translateX(50%);
    }

    .button_carrusel{
        
        bottom: 150px;
        transform: none;
    }

    .carrusel_buttons {

        width: 100%;
        max-width: 400px;
        right: 50%;
        transform: translateX(50%);
        gap: 0;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .silh--Character_Carrusel {

        z-index: 1;
        top: auto;
        bottom: -10px;
        left: 600px;
        height: 460px;
        width: 320px;
        object-fit: contain;
        opacity: 0.9;
        filter: drop-shadow(10px 10px 0 var(--third_color));
    }

    .carrusel .carrusel--info .carrusel--info_item:first-child .silh--Character_Carrusel {

        left: -50px;
    }

    .carrusel.next .carrusel--info .carrusel--info_item:first-child .silh--Character_Carrusel{

        left: 600px;
        opacity: 0;

        animation-delay: opacity 0.5s;
        animation: showSilh 1s ease-in-out forwards;
    }
    .carrusel.next .carrusel--info .carrusel--info_item:last-child .silh--Character_Carrusel{

        left: -50px;
        opacity: 1;

        animation-delay: opacity 0.5s;
        animation: outLastSilh 1s ease-in-out forwards;
    }
    .carrusel.prev .carrusel--info .carrusel--info_item:first-child .silh--Character_Carrusel{

        left: 600px;
        opacity: 0;

        animation-delay: opacity 0.5s;
        animation: showSilhPrev 1s ease-in-out forwards;
    }
    .carrusel.prev .carrusel--info .carrusel--info_item:nth-child(2) .silh--Character_Carrusel{

        left: -50px;
        opacity: 1;

        animation-delay: opacity 0.5s;
        animation: outLastSilhPrev 1s ease-in-out forwards;
    }

    @keyframes showSilh {

        to {

            opacity: 1;
            left: -50px;

        }
    }
    @keyframes outLastSilh {

        to {

            opacity: 0;
            left: 600px;

        }
    }
    @keyframes showSilhPrev {

        to {

            opacity: 1;
            left: -50px;

        }
    }
    @keyframes outLastSilhPrev {

        to {

            opacity: 0;
            left: 600px;

        }
    }

    .carrusel-logo {

        height: 140px;
    }

    .carrusel_selector--icon {

        flex-direction: row;
        width: 100%;
        height: 30px;
        top: auto;
        bottom: 20px;
        left: auto;
        align-items: center;
        justify-content: center;
        z-index: 101;
    }

    /* .carrusel--selector_item {

        width: 30px;
        height: 30px;
    } */

    @keyframes scaleSelector {

        from {
            width: 30px;
            height: 30px;
            box-shadow: 0 0 0 white;
        }

        to {
            width: 50px;
            height: 50px;
            box-shadow: 0 0 10px white;
        }
    }

    @keyframes descaleSelector {

        from {
            width: 50px;
            height: 50px;
            box-shadow: 0 0 10px white;
        }

        to {
            width: 30px;
            height: 30px;
            box-shadow: 0 0 0 white;
        }
    }

}

@media (min-width: 1800px){
  .carrusel {
    height: 800px;
  }
}

@media (min-height: 1400px) {
    
    .carrusel {
        height: 800px;
    }
}

@media (max-height: 600px){
  .carrusel {
    height: 600px;
  }
}