<div class="body_Historia">

    <div class="historia_infoCont">

        <div class="historia_cover">

        </div>

        <div class="historia_info">

            <div class="historia_tipoVerificado">

            </div>

            <div class="historia_logoTitulo">

            </div>

            <div class="historia_generos">

            </div>

            <div class="historia_autor">

            </div>

        </div>

    </div>

    <div class="historia_capitulos">

    </div>

    <div class="historia_argumento_elements">

        <div class="historia_elements">

            <div class="historia_calificacion historiaElements_item">

            </div>

            <div class="historia_guardados historiaElements_item">

            </div>
        </div>

        <div class="historia_argumento">

        </div>

    </div>

</div>
