.content{

    grid-area: content;
    overflow-x: hidden;
    position: relative;

}

.comicContent {

    width: 100%;

    min-height: 100vh;

    display: flex;
    
}

.comicInfo {
    display: grid;
    grid-template-areas: 
        "header header"
        "argumento capitulos"
        "argumento capitulos";
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 20px;
    padding: 5px;
    margin: 5px;
    width: 70%;
}

.cover {

    width: 30%;

    position: relative;

    overflow: hidden;
}

.cover::before {
    content: "";
    position: absolute;
    right: -50%;
    width: 100%;
    height: 100%;
    z-index: 1; /* Debajo del contenido principal */
    transform: skewX(-12deg);
    background-color: var(--five_color);
    z-index: 1;
}

.comicHeader {

    grid-area: header;
    display: flex;
    align-items: center;
    gap: 20px;
}

.comic--logo {

    width: 250px;
}

.comic--logo img {

    width: 100%;
}

.tituloComic {

    position: relative;

    padding-left: 20px;
}

.tituloComic::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%; /* Altura completa del elemento padre */
    width: 5px; /* Ancho de la línea */
    border-radius: 50px;
    background-color: var(--fourth_color);
}

.genero{

    /* margin: 0 auto; */
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
    transition: ease 0.3s;

}

.sub-genero{

    /* margin: 0 auto; */
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
    transition: ease 0.3s;
    background-color: var(--fourth_color);

}

.comic-generos {

    display: flex;
    gap: 5px;
}

.tituloComic {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.argumento {
    grid-area: argumento;
}

.lista-capitulos {
    grid-area: capitulos;
}

.shojoTheme {

    background-color: rgba(255, 123, 167, 0.63);

    /* background-image: linear-gradient(0deg, rgba(255, 123, 167,1) 60%, var(--five_color) 100%); */
}

.shojoAutor {

    background-color: rgb(255, 123, 167);

}

.autor {

    padding: 5px 10px;
    border-radius: 100px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-autor-demografia {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500px;

}

.mangaTittle {
    width: 100%;
    height: 350px;
    /* border: white 2px solid; */
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mangaInfo {

    width: 100%;
    height: 100vh;
    border-radius: 20px;
    /* box-shadow: 0 -5px 0 var(--five_color); */
    z-index: 2; 
    
}

.pngManga {

    height: 100%;

}

.pngManga img {
    height: 100%;

}

.logoManga {

    width: 500px;
}

.logoManga img {

    width: 100%;
}

@media (max-width:720px) {


    .comicContent {
    
        flex-direction: column;
    }

    .comicInfo {
        width: 100%;
        grid-template-columns: minmax(0, 1fr); /* En pantallas más pequeñas, solo una columna */
        grid-template-areas: 
            "header"
            "argumento"
            "capitulos";

        margin: 0;
        padding: 10px; 
    }

    .comicHeader {
        flex-direction: column; /* Apilar logo y título en móvil */
        align-items: flex-start;
        width: 100%;
        gap: 5px;
    }

    .cover {

        height: 300px;
        width: 100%;
    }

    .cover::before {
        content: "";
        position: absolute;
        top: auto;
        bottom: -150px;
        right: -20%; /* Ajusta la posición */
        width: 120%; /* Asegura que cubra todo el ancho */
        height: 100%; /* Aumenta la altura para cubrir cualquier espacio */
        z-index: 1; /* Debajo del contenido principal */
        transform: skewX(100deg) translateY(-40%);
        background-color: var(--five_color);

        z-index: 1;
    }

}