.header {

    width: 100%;
    height: 120px;
    /* background-color: rgba(0, 0, 0, 0.588); */
    /* position: static; */
    /* position: fixed; */
    position: absolute;
    z-index: 100;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.header-content {

    height: 100%;
    width: 100%;
    max-width: 500px;
    background-color: var(--third_color);
    border-radius: 200px;
    margin-left: 10px;
    padding: 5px 40px;
    /* box-shadow: 5px 10px 0 var(--fourth_color); */
}

.div--logo {

    height: 100%;
    width: 100px;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo--image {

    height: 100%;
}

.div--logo:hover {

    scale: 1.07;
}