@import url(1.Header.css);
@import url(2.Slider.css);

.header-slider {

    grid-area: header-slider;
    background-color: var(--fourth_color);
    position: relative;
    overflow: hidden;
    height: 100vh;
    /* max-width: 320px; */

}

@media screen and (min-width: 2500px) {
    .header-slider {
        width: 45%; /* Ajusta el tamaño según necesites */
        min-height: 600px; /* Evita que sea demasiado pequeño */
        max-height: 800px; /* Evita que sea demasiado grande en pantallas grandes */
        margin: 0 auto; /* Centra la imagen si es necesario */
    }
}

@media screen and (max-width: 1100px) {
    .header-slider {
        height: 80vh;
    }

    .biblio_tittle {
        height: 20vh;
    }
}

@media (max-height: 570px) {

    .header-slider {

        height: 600px;
    }
}

