<div class="body_Perfil">

    <div class="BannerCont">
        <div class="Banner">

        </div>

        <div class="fotoPerfil">

        </div>

        <div class="NombreUser">

            <h1 class="nombre_perfil"></h1>
            <h2 class="user_Name"></h2>

        </div>

        <button seguirButton class="seguirButton">
            <i class="ri-user-follow-fill"></i>
            <span class="seguirText">Seguir</span>
        </button>
    </div>

    <div class="seguimientosCont">

        <button class="siguiendoButton">
            <span class="siguiendoText">Siguiendo</span>
            <span class="siguiendoCount">0</span>
        </button>

        <button class="seguidoresButton">
            <span class="seguidoresText">Seguidores</span>
            <span class="seguidoresCount">0</span>
        </button>

    </div>

    <div class="BiografiaCont">

        <h1 class="biografia_titulo"> 
           <i class="ri-chat-smile-2-fill"></i> Biografía
        </h1>

        <p class="biografia_texto"></p>

    </div>

    <div class="HistoriasCont">

        <h1>
            <i class="ri-book-open-fill"></i> historias <span class="nombre_perfil"></span>
        </h1>
        <div class="historias_usuario">

        </div>

    </div>

    <div class="PublicacionesCont">

    </div>

</div>